{% extends 'base.html' %}

{% block title %}Nations List{% endblock %}

{% block content %}
    <h1>List of Nations</h1>

    {% if nations %}
    <ul>
        {% for nation in nations %}
            <li>
                {# Linking the nation name to its detail page #}
                <a href="{% url 'nations:nation_detail' nation.pk %}">
                    {{ nation.name }}
                </a>
            </li>
        {% empty %}
            <li>No nations found. Add some via the admin interface!</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No nations list was provided.</p>
    {% endif %}

    {# Link to create a new nation #}
    <hr>
    <a href="{% url 'nations:nation_create' %}">Add New Nation</a>
{% endblock content %}